h1 {
    font-family:Noto Sans, sans-serif; 
    text-align: center;
    font-size: 80px;
    color: white;
}
body{
    background-image:url('/Arriereplan.jpg');
    background-size: cover;
}
h2{
    font-family: Comic Sans MS, Comic Sans, cursive; 
    text-align: center;
    font-size: 22px;
    color:white; 
}
h3{
    font-family: Brush Script MT, Brush Script Std, cursive;
    color : white;
    font-size:29px;
    text-align: center;
}

#acc{
    margin-left: 5%;
    width: 375px;
    height: 425px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    background-color: rgba(66, 66, 88, 0.5);
}
img{
    width: 525px;
    height: 350px;
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
}

button{
    
    width: 200px;
    height:80px;
    margin-left: 42.5%;
    font-size: 28px;
    border-radius: 20px;
    background-color: rgba(80, 203, 40, 0.5);
}

table{
    margin-left: 10% ;
    border-spacing: 67;
}